<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>It's just Me!</h1>
            <nav class="nav-bar">
                <button>
                    <a href="/">Home</a>
                </button>
                <button>
                    <a href="/works">Works</a>
                </button>
            </nav>
        </header>
        <div class="main">
            <h2>My life!</h2>
            <p>"My past is not a memory. It's a force at my back. It pushes and steers. <br> I may not always like where it leads me, but like any story, the past needs resolution. <br> What's past is prologue" <br>-Samus Aran-</p>
        
            <article class="article">
                <h3>I have a background, you know</h3>
                <p>If you know that quote, or just who says that, then we have a match. <br>By the way, here is some info about me, the normal stuff:</p>
            </article>
            <article class="article">
                <h4>I have a degree in Pedagogy</h4>
                <img class="ditto" src="images/UB.png" alt="UB logo">
                <p>Yes, I studied education, but not my style, so I changed to HR. Spoiler alert, not my style.</p>
            </article>
            <article class="article">
                <h4>I love the same way I hate</h4>
                <img class="ditto" src="images/harold.jpg" alt="Harold">
                <p>Time is the only thing that we can't get back. It just passes away. That's why I left hr: time flyes and I need to enjoy it.</p>
            </article>
            <article class="article">
                <h4>Ironhacker</h4>
                <img class="ditto" src="images/IH.png" alt="Ironhack">
                <p>Not because I'm a freak, but because i "love" all that involves digital. So here I am.</p>
            </article>
        
        </div>
        <footer></footer>

    </div>
</body>
</html>