<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Welcome Home!</h1>
            <nav class="nav-bar">
                <button>
                    <a href="/about">About</a>
                </button>
                <button>
                    <a href="/works">Works</a>
                </button>
            </nav>
        </header>
        <div class="main">
            <article class="article">
                <h2>Who's that pokémon???</h2>
                <p>Kono Ditto da!!</p>
            </article>
            <img class="ditto" src="images/1637618926478.jpg" alt="My Ditto BFF">
            <article class="article">
                <p>Yes, Ditto is my favourite Pokemon, because It can be whatever It wants to be. <br> Also, It is very usefull at competitive in fun compos. <br> How can't you love It?? <br> Click at About to know more about me or go to Works to see some stuff I did.</p>
            </article>
        </div>
        <footer>all rights reserved to me</footer>
    </div>
</body>
</html>