<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>What can I do?</h1>
            <nav class="nav-bar">
                <button>
                    <a href="/">Home</a>
                </button>
                <button>
                    <a href="/about">About</a>
                </button>
            </nav>
        </header>
        <div class="main">
            <article class="article">
                <h3>Here you can find my labs at coding</h3>
                <p>nothing is perfect, but here is <a href="https://github.com/BardoAlacran">My GitHub</a></p>
            </article>
            <article class="article">
                    <a href="https://github.com/BardoAlacran/Game_Project_1"><li>My Game</li></a>
                    <p>Not a Pokemon, or a FF, but wait till I finish it.</p>
            </article>
        </div>
        <footer></footer>

    </div>
</body>
</html>